<div class="py-3 register">


    <h3> Resst Password :</h3>
    
    <form [formGroup]="resetForm" (ngSubmit)="submitResetPassword(resetForm)">
       <div class="alert alert-danger" *ngIf="apiError.length > 0">{{apiError}}</div>
       
        <div class="my-2">
            <label for="email">email</label>
        <input formControlName="email" type="email" name="email" id="email" class=" form-control">
        <div class="alert alert-danger" *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched">
            
            <p *ngIf="resetForm.get('email')?.getError('email')"> invalid email</p>
            <p *ngIf="resetForm.get('email')?.getError('required')">email is required</p>
        </div>
        </div>
        <div class="my-2">
            <label for="newPassword">New password</label>
        <input formControlName="newPassword" type="password" name="newPassword" id="newPassword" class=" form-control">
        <div class="alert alert-danger" *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched">
            
            <p *ngIf="resetForm.get('newPassword')?.getError('pattern')"> newPassWord should contain characters and numbers and minlength is 3 and maxlength is 16</p>
            <p *ngIf="resetForm.get('newPassword')?.getError('required')">newPassWord is required</p>
        </div>
        </div>
     
        <button  class="btn btn-success d-block mx-auto" [disabled]="resetForm.invalid">
            <i *ngIf="isloading" class="fa-solid fa-spinner fa-spin"></i>
            <span *ngIf="!isloading">Send New Password</span>
        </button>
    </form>
    </div>
