<div class="forgetpassword">

    <form (submit)="forgetPasswordSubmit(forgetPassword)" [formGroup]="forgetPassword">
    <label> Enter Your Email</label>
    <input formControlName="email"  type="text" class="form-control my-2" name="" id="">
    <div *ngIf="forgetPassword.get('email')?.errors&& forgetPassword.get('email')?.touched" class="alert alert-danger">
        <p *ngIf="forgetPassword.get('email')?.errors?.['required']">Email Required</p>

        <p *ngIf="forgetPassword.get('email')?.errors?.['email']"> Enter Valid  Email </p>
    </div>
    <button [disabled]="!forgetPassword.valid" class="btn btn-success">Send email</button>
</form>
</div>
<div class="reseCode my-4 d-none" >
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <form (ngSubmit)="ResetCodeSubmit(ResetCode)" [formGroup]="ResetCode">
        <label for="resetCode ">resrtCode</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <div *ngIf="ResetCode.get('resetCode')?.errors&& ResetCode.get('resetCode')?.touched" class="alert alert-danger">
            <p *ngIf="ResetCode.get('resetCode')?.errors?.['required']">resetCode Required</p>
    
            <p *ngIf="ResetCode.get('resetCode')?.errors?.['pattern']"> Enter Valid  resetCode </p>
        </div>
        <button [disabled]="!ResetCode.valid" class="btn btn-success my-2">Verify Code</button>
    </form>
</div>
